@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background: #d4e2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 10px;
}

.container {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.add-btn {
    background-color: #8c00ff;
    color: white;
}

.add-btn:hover { 
    background-color: #7a00dd;
}

.search-btn {
    background-color: #be40de;
    color: white;
}

.search-btn:hover { 
    background-color: #c96be0;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.delete-btn:hover { 
    background-color: #fe1900;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ecf0f1;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

